In [1]:
import pandas as pd
import numpy as np
from utils import extract_matrix

In [2]:
df = pd.read_json("data_no_bool.json").T

In [3]:
df.head()

  label                                        time_series
0     6  [{'BallAcceleration': 1636.7987723122642, 'Dis...
1    -1  [{'BallAcceleration': 0.0, 'DistanceWall': 39....
2    -1  [{'BallAcceleration': 124246.29375405672, 'Dis...
3    -1  [{'BallAcceleration': -8210.634011562943, 'Dis...
4    -1  [{'BallAcceleration': 1197.5360615055833, 'Dis...

In [4]:
df.time_series.apply(extract_matrix)

0      [[1636.7987723122642, 3498.01, 2012.98, 299.66...
1      [[0.0, 39.7800000000002, 1704.5, 193.421147499...
2      [[124246.29375405672, 35.48999999999978, 1450....
3      [[-8210.634011562943, 36.0, 1036.28, 579.43975...
4      [[1197.5360615055833, 3975.02, 2013.04, 142.93...
                             ...
293    [[0.0, 2499.8900000000003, 2012.99, 2269.85802...
294    [[-4128.513654621303, 62170.1262183052, 1216.1...
295    [[0.0, 1606.3200000000002, 1911.36, 3064.80797...
296    [[0.0, 0.0, 2053.85, 2012.99, 4797.23569253169...
297    [[0.0, 1937.17, 1898.67, 5470.009844067925, 22...
Name: time_series, Length: 298, dtype: object

In [5]:
df.time_series = df.time_series.apply(extract_matrix)
df['shape'] = df.time_series.apply(lambda x: x.shape)
df.head()

  label                                        time_series     shape
0     6  [[1636.7987723122642, 3498.01, 2012.98, 299.66...  (32, 17)
1    -1  [[0.0, 39.7800000000002, 1704.5, 193.421147499...  (39, 17)
2    -1  [[124246.29375405672, 35.48999999999978, 1450....  (34, 17)
3    -1  [[-8210.634011562943, 36.0, 1036.28, 579.43975...  (23, 17)
4    -1  [[1197.5360615055833, 3975.02, 2013.04, 142.93...  (22, 17)

In [6]:
ts = df.time_series.iloc[0] # time x predictors
ts = ts.T = # predictors x time

The matrix S will be $n\times N$ where $n$ is the predictor dimension and $N$ is the number of time-series examples.

Hence, I will use the transpose to compute the covariance matrix.

In [25]:
# Compute the covariance matrix of the i-th example of the dataset
cov_ts = np.cov(ts.T)
# Compute the SVD of the covariance matrix
u, s, v_t = np.linalg.svd(cov_ts)
u.shape, s.shape, v_t.shape

((17, 17), (17,), (17, 17))

In [26]:
s # singular values already sorted in ascending order

array([3.44911060e+09, 1.07819273e+09, 4.63653432e+08, 1.90224017e+05,
       1.03773930e+04, 2.39447048e+03, 2.23852046e-01, 1.50520030e-01,
       1.24562481e-01, 9.82561826e-02, 7.05362852e-02, 2.22661473e-02,
       1.46352248e-02, 5.36328528e-04, 5.70114345e-18, 2.32753961e-18,
       4.43973740e-34])

In [31]:
np.linalg.eig(np.diag(s))[0] == s #eigenvalues of s are the singular values of s

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

In [46]:
np.vstack([s, np.zeros(shape=(17,))]).shape

(2, 17)

In [38]:
np.zeros(shape=(17,)).shape

(17,)

In [39]:
s.shape

(17,)