In [1]:
import pandas as pd
import numpy as np
import utils

In [2]:
df = pd.read_json("data_no_bool.json").T

In [3]:
df.head()

  label                                        time_series
0     6  [{'BallAcceleration': 1636.7987723122642, 'Dis...
1    -1  [{'BallAcceleration': 0.0, 'DistanceWall': 39....
2    -1  [{'BallAcceleration': 124246.29375405672, 'Dis...
3    -1  [{'BallAcceleration': -8210.634011562943, 'Dis...
4    -1  [{'BallAcceleration': 1197.5360615055833, 'Dis...

In [5]:
df.time_series = df.time_series.apply(utils.extract_matrix)
df['shape'] = df.time_series.apply(lambda x: x.shape)
df.head()

  label                                        time_series     shape
0     6  [[1636.7987723122642, 3498.01, 2012.98, 299.66...  (32, 17)
1    -1  [[0.0, 39.7800000000002, 1704.5, 193.421147499...  (39, 17)
2    -1  [[124246.29375405672, 35.48999999999978, 1450....  (34, 17)
3    -1  [[-8210.634011562943, 36.0, 1036.28, 579.43975...  (23, 17)
4    -1  [[1197.5360615055833, 3975.02, 2013.04, 142.93...  (22, 17)

In [6]:
S, v_t_list = utils.compute_S_matrix(df.time_series)

In [7]:
w = utils.compute_weight_vector(S, aggregation='mean', algorithm='1')
w

array([7.33901974e-01, 2.11399585e-01, 5.46184777e-02, 6.73521064e-05,
       1.01007818e-05, 2.51086069e-06, 2.46274980e-11, 1.48000471e-11,
       9.75667933e-12, 6.57018216e-12, 4.07295441e-12, 2.01973052e-12,
       8.18530946e-13, 2.46108301e-13, 7.03280356e-14, 2.61036403e-14,
       5.54693561e-15])

Eros norm:
$$
EROS(\mathbf{A,B},w) = \sum_{i=1}^n w_i\cdot|<a_i,b_i>|
$$

In [10]:
eros = utils.eros_norm(w, A=v_t_list[0], B=v_t_list[0])
eros

0.9999999999999998

In [11]:
K_eros = utils.compute_kernel_matrix(len(df), weight_vector=w, v_t_list=v_t_list)

In [15]:
K_eros[0,1] == K_eros[1,0]

True